<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.social_media_app_with_clean_architecture_and_the_bloc_pattern">


    <application
    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name="${applicationName}"
        android:label="Edu Social Media">
        <activity
        android:exported="true"
        android:launchMode="singleTask"
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".MainActivity"
            android:theme="@style/AppTheme">
    </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
